{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historique_credit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ historique_credit.id }}</td>
            </tr>
            <tr>
                <th>Somme</th>
                <td>{{ historique_credit.somme }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ historique_credit.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if historique_credit.date %}{{ historique_credit.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ historique_credit.details }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('historique_credit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('historique_credit_edit', { 'id': historique_credit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
