{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="police-text" style="text-align: center;font-size: 40px;">Actualité</h1>
<div class="table-responsive" style="text-align: center;">
    <table class="table table-hover">
        <tbody>
            <tr >
                <th>Id</th>
                <td>{{ actualite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actualite.titre }}</td>
            </tr>
            <tr>
                <th>Priorite</th>
                <td>{{ actualite.priorite }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ actualite.etat }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ actualite.contenu }}</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-info" href="{{ path('actualite_index') }}"style="margin-right: 15px;">Retour</a>

            <a class="btn btn-success" href="{{ path('actualite_edit', { 'id': actualite.id }) }}">Modifiée</a>

            {{ form_start(delete_form, {'attr': {'class': 'btn btn-clear'}}) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
