
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Administration Legend-Fifa</title>
        <link rel="shortcut icon" href="{{ asset('images/home/logo.ico') }}">
        <link href="{{ asset('css/bootstrap/css/bootstrap.css')}}" rel="stylesheet">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('css/admin/dist/css/AdminLTE.min.css')}}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('css/admin/dist/css/skins/_all-skins.min.css')}}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css')}}">
        <!-- Morris chart -->
        <link rel="stylesheet" href="{{ asset('css/admin/plugins/morris/morris.css')}}">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{{ asset('css/admin/plugins/jvectormap/jquery-jvectormap-1.2.2.css')}}">
        <!-- Date Picker -->
        <link rel="stylesheet" href="{{ asset('css/admin/plugins/datepicker/datepicker3.css')}}">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{{ asset('css/admin/plugins/daterangepicker/daterangepicker-bs3.css')}}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{{ asset('css/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="{{ asset('css/admin/plugins/jQuery/jQuery-2.1.4.min.js')}}"></script>
        <script src="{{ asset('css/admin/plugins/jQueryUI/jquery-ui.js')}}"></script>

        <script>
            $(function () {
                $("#tabs").tabs();
            });
        </script>
        <script>
    $(document).ready(function() {
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>

    </head>
    <body class="hold-transition skin-blue sidebar-mini">

        <div class="wrapper">



            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <div style="text-align: center;">

                    <img src="{{ asset('images/home/camermusiclogo.png') }}" alt="Kossa" title="Kossa" height="60" width="60"/>
                    <br>
                    <span class="logo-lg text-green">Kossa</span></div>
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel" style="color: #FFF; text-align: center;">


                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.greeting'|trans }} {{ app.user.username }}
                            <br>
                            <a class="btn bg-blue" href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-facebook text-black">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default btn-facebook text-black">Connexion</a>
                        {% endif %}


                    </div>
                    <!-- search form -->
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->

                    <ul class="sidebar-menu menu">
                        <li class="header">MENU PRINCIPAL</li>
                        <li class="treeview" >
                            <a href="">
                                <i class="fa fa-dashboard"></i> <span>Accueil</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>
                        <li class="treeview" >
                            <a href="{{ path('actualite_index')}}">
                                <i class="fa fa-music"></i> <span> Actualite</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>
                        

                        <li class="treeview" >
                            <a href="{{ path('charge_index')}}">
                                <i class="fa fa-star"></i> <span> Charge</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

                        
                        <li class="treeview" >
                            <a href="{{path('discussion_index')}}">
                                <i class="fa fa-genderless"></i> <span> Discussion</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>
                        
                        <li class="treeview" >
                            <a href="{{path('historique_credit_index')}}">
                                <i class="fa fa-circle-o"></i> <span> Historique_credit</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>
                        <li class="treeview" >
                            <a href="{{path('matchs_index')}}">
                                <i <i class="fa fa-genderless"></i> <span> Matchs</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

                        <li class="treeview" >
                            <a href="{{path('message_index')}}">
                                <i class="fa fa-music"></i> <span> Message</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

                        <li class="treeview" >
                            <a href="{{path('parimatch_index')}}">
                                <i class="fa fa-file-sound-o"></i> <span> PariMatch</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

                        <li class="treeview" >
                            <a href="{{path('participe_index')}}">
                                <i class="fa fa-video-camera"></i> <span> Participe</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

                        
                        <li class="treeview" >
                            <a href="{{path('pays_index')}}">
                                <i class="fa fa-users"></i> <span> Pays</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

 
                        <li class="treeview" >
                            <a href="{{path('plainte_index')}}">
                                <i class="fa fa-newspaper-o"></i> <span> Plainte</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>


                        <li class="treeview" >
                            <a href="{{path('point_index')}}">
                                <i class="fa fa-image"></i> <span> Point</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

                        <li class="treeview" >
                            <a href="{{path('region_index')}}">
                                <i class="fa fa-share"></i> <span> Region</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

                        <li class="treeview" >
                            <a href="{{path('reglement_index')}}">
                                <i class="fa fa-send"></i> <span> Reglement</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>
                        
                         <li class="treeview" >
                            <a href="{{path('resultat_index')}}">
                                <i class="fa fa-sliders "></i> <span> Resultat</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>
                        
                        <li class="treeview" >
                            <a href="{{path('suggestion_index')}}">
                                <i class="fa fa-user-times "></i> <span> Suggestion</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

                        
                        <li class="treeview" >
                            <a href="{{path('tchat_index')}}">
                                <i class="fa fa-shopping-cart "></i> <span> Tchat</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>
                        
                        <li class="treeview" >
                            <a href="{{path('tournois_index')}}">
                                <i class="fa fa-compass"></i> <span> Tournois</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>
                        <li class="treeview" >
                            <a href="{{path('users_index')}}">
                                <i class="fa fa-reorder"></i> <span> Users</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>

                    </ul>

                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

            {% block body %}{% endblock %}

        </div><!-- /.content-wrapper -->


        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Kossa {% block textFooter %} Administration {% endblock %} Version</b> 1.0
            </div>
            <strong>Copyright &copy; {{ "now"|date("Y")}} Nanotech Solutions <a href="#"></a>.</strong> All rights reserved.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
                immediately after the control sidebar -->

        <div class="control-sidebar-bg">

        </div>

    </div><!-- ./wrapper -->


    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="{{ asset('css/bootstrap/js/bootstrap.js')}}"></script> 
    <script src="{{ asset('css/bootstrap/js/bootbox.js')}}"></script>      
    <link rel="stylesheet" href="css/style2.css">


    <!-- jQuery 2.1.4 -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
            $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{{ asset('css/admin/plugins/morris/morris.min.js')}}"></script>
    <!-- Sparkline -->
    <script src="{{ asset('css/admin/plugins/sparkline/jquery.sparkline.min.js')}}"></script>
    <!-- jvectormap -->
    <script src="{{ asset('css/admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
    <script src="{{ asset('css/admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
    <!-- jQuery Knob Chart -->
    <script src="{{ asset('css/admin/plugins/knob/jquery.knob.js')}}"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="{{ asset('css/admin/plugins/daterangepicker/daterangepicker.js')}}"></script>
    <!-- datepicker -->
    <script src="{{ asset('css/admin/plugins/datepicker/bootstrap-datepicker.js')}}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{{ asset('css/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"></script>
    <!-- Slimscroll -->
    <script src="{{ asset('css/admin/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{ asset('css/admin/plugins/fastclick/fastclick.min.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('css/admin/dist/js/app.min.js')}}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{{ asset('css/admin/dist/js/pages/dashboard.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset('css/admin/dist/js/demo.js')}}"></script>
    <script>
            function deleteConfirm(url) {
                bootbox.confirm("Are you sure?", function (result) {
                    if (result)
                        window.location.href = url;
                });
                return false;
            }
            }
    </script>

</body>


</html>


