{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reglements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reglement in reglements %}
            <tr>
                <td><a href="{{ path('reglement_show', { 'id': reglement.id }) }}">{{ reglement.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reglement_show', { 'id': reglement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reglement_edit', { 'id': reglement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reglement_new') }}">Create a new reglement</a>
        </li>
    </ul>
{% endblock %}
