{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tchat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tchat.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ tchat.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if tchat.date %}{{ tchat.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tchat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tchat_edit', { 'id': tchat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
