{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plaintes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plainte in plaintes %}
            <tr>
                <td><a href="{{ path('plainte_show', { 'id': plainte.id }) }}">{{ plainte.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plainte_show', { 'id': plainte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plainte_edit', { 'id': plainte.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plainte_new') }}">Create a new plainte</a>
        </li>
    </ul>
{% endblock %}
