{% extends 'base.html.twig' %}

{% block body %}
    <h1>Match</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if match.date %}{{ match.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ match.etat }}</td>
            </tr>
            <tr>
                <th>Type_match</th>
                <td>{{ match.typematch }}</td>
            </tr>
            <tr>
                <th>Nieme</th>
                <td>{{ match.nieme }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matchs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('matchs_edit', { 'id': match.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
