{% extends 'base.html.twig' %}

{% block body %}
    <h1>Matchs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Type_match</th>
                <th>Nieme</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td><a href="{{ path('matchs_show', { 'id': match.id }) }}">{{ match.id }}</a></td>
                <td>{% if match.date %}{{ match.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ match.etat }}</td>
                <td>{{ match.typematch }}</td>
                <td>{{ match.nieme }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('matchs_show', { 'id': match.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('matchs_edit', { 'id': match.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matchs_new') }}">Create a new match</a>
        </li>
    </ul>
{% endblock %}
